<div id="container">
  <img src="https://pix10.agoda.net/hotelImages/168/168375/168375_16072417350044891079.jpg?ca=6&ce=1&s=1024x768" height="300px" width="520px" style="margin-left: 20px;margin-top: 20px" >
<img src="https://go-makkah.com/upload/images/hotels/19731924-8-9-2014-makkah-hajj-omraRJV4TJ.jpg" height="300px" width="520px" style="margin-left: 25px;margin-top: 20px" >
<div >
  <table class="table table-dark" style="margin-top: 20px;width: 750px;margin-left: 160px" >

    <tbody>
    <tr>
      <th scope="row" style="background-color:#feecf8 ; color: black">Nom</th>
      <td *ngFor="let hotel of hotels" align="center" style="background-color:#feecf8 ; color: black"><h5>{{hotel.nom}}</h5></td>

    </tr>
    <tr>
      <th scope="row" style="background-color:#988266">Type</th>
      <td *ngFor="let hotel of hotels" align="center" style="background-color:#988266"><h5>{{hotel.type}}</h5></td>

    </tr>
    <tr>
      <th scope="row" style="background-color:#feecf8 ; color: black">Caractéristiques</th>
      <td *ngFor="let hotel of hotels" align="center" style="background-color:#feecf8; color: black" ><h5>{{hotel.caracteristiques}}</h5></td>

    </tr>
    <tr>
      <th scope="row" style="background-color:#988266">Date d'entrée</th>
      <td *ngFor="let hotel of hotels" align="center"style="background-color:#988266" ><h5>{{hotel.date_entree}}</h5></td>

    </tr>
    <tr>
      <th scope="row" style="background-color:#feecf8; color: black">Date de sortie</th>
      <td *ngFor="let hotel of hotels" align="center" style="background-color:#feecf8 ; color: black"><h5>{{hotel.date_sortie}}</h5></td>


    </tbody>
  </table>
</div>

</div>
