<form>
  <h1>A Fancy Table</h1>
  <table id="customers">
    <tr>
      <th>Quad S</th>
      <th>Quad</th>
      <th>Triple</th>
      <th>Double</th>
      <th>Single</th>
    </tr>
    <tr *ngFor="let element of data; let i=index;">
      <td>..</td>
      <td>{{element.quad}} €<br>
        <button (click)="addData(element.quad, 'quad')">
          <img height="30ox" src="assets/images/yes.jpg" width="30px">
        </button>
      </td>
      <td>{{element.triple}} €<br>
        <button (click)="addData(element.triple, 'triple')">
          <img alt="plus" height="30ox" src="assets/images/yes.jpg" width="30px">
        </button>
      </td>
      <td>{{element.double}} €<br>
        <button (click)="addData(element.double, 'double')">
          <img alt="plus" height="30ox" src="assets/images/yes.jpg" width="30px">
        </button>
      </td>
      <td>Nous consulter</td>
    </tr>
  </table>
  <h3 class="mt-3 text-white">Séléctionnez votre date de départ</h3>
  <select>
    <option>28/06/2022</option>
  </select>
  <br><br>
  <h3>Sélectionnez votre pays de départ</h3>
  <select>
    <option>Tunisie</option>
  </select><br><br><br><br>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label gray">
      <h3 class="h3">Adultes ( + de 12 ans)</h3>
    </label>
    <div class="col-sm-9 input-group mb-3 w-25 d-flex justify-content-evently h-50">
      <div class="input-group-prepend">
        <button (click)="actionMinus('forAdults')" class="btn btn-outline-secondary" type="button">-</button>
      </div>
      <input [(ngModel)]="quantityForAdults" aria-describedby="basic-addon1" aria-label="" class="form-control"
             name="quantityForAdults" placeholder="" readonly type="text">
      <div class="input-group-prepend">
        <button (click)="actionAdd('forAdults')" class="btn btn-outline-secondary" type="button">+</button>
      </div>
      <input [(ngModel)]="totalForAdults" aria-describedby="basic-addon1" aria-label="" class="form-control" name="totalForAdults"
             placeholder="" readonly
             type="text">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label gray">
      <h3 class="h3">Enfants ( - de 12 ans)</h3>
    </label>
    <div class="input-group col-sm-9 mb-3 w-25 d-flex justify-content-evently h-50">
      <div class="input-group-prepend">
        <button (click)="actionMinus('forChildren')" class="btn btn-outline-secondary" type="button">-</button>
      </div>
      <input [(ngModel)]="quantityForChildren" aria-describedby="basic-addon1" aria-label="" class="form-control"
             name="quantityForChildren" placeholder="" readonly type="text">
      <div class="input-group-prepend">
        <button (click)="actionAdd('forChildren')" class="btn btn-outline-secondary" type="button">+</button>
      </div>
      <input [(ngModel)]="totalForChildren" aria-describedby="basic-addon1" aria-label="" class="form-control" name="totalForChildren"
             placeholder="" readonly type="text">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">
      <h3 class="h3">Bébé ( - de 2 ans)</h3>
    </label>
    <div class="col-sm-9 input-group mb-3 w-25 d-flex justify-content-evently h-50">
      <div class="input-group-prepend">
        <button (click)="actionMinus('forBabies')" class="btn btn-outline-secondary" type="button">-</button>
      </div>
      <input [(ngModel)]="quantityForBabies" aria-describedby="basic-addon1" aria-label="" class="form-control"
             name="quantityForBabies" placeholder="" readonly type="text">
      <div class="input-group-prepend">
        <button (click)="actionAdd('forBabies')" class="btn btn-outline-secondary" type="button">+</button>
      </div>
      <input [(ngModel)]="totalForBabies" aria-describedby="basic-addon1" aria-label="" class="form-control" name="totalForBabies"
             placeholder="" readonly type="text">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label gray" for="total">
      <h3 class="h3">Prix total</h3>
    </label>
    <div class="col-sm-7">
      <input [(ngModel)]="price" class="form-control w-25" id="total" name="price" type="text">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label text-white" for="nom">nom</label>
    <div class="col-sm-7">
      <input class="form-control" id="nom" type="text" value="" name="nom" [(ngModel)]="person.nom">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label text-white" for="inputPassword">prenom</label>
    <div class="col-sm-7">
      <input class="form-control" id="inputPassword" placeholder="" type="text" name="prenom" [(ngModel)]="person.prenom">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label text-white" for="cin">cin</label>
    <div class="col-sm-7">
      <input class="form-control" id="cin" type="text" name="cin" [(ngModel)]="person.cin">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label text-white" for="passport">passport</label>
    <div class="col-sm-7">
      <input class="form-control" id="passport" placeholder="text" type="text" name="passport" [(ngModel)]="person.passport">
    </div>
  </div>
  <button class="btn btn-success w-25" (click)="displayCommand()">reserver</button>
</form>
